<nav class="bottom-nav">
  <button class="nav-item" [class.active]="activePage === 'home'" (click)="router.navigate(['/client-home'])">
    <ion-icon name="home-outline"></ion-icon>
    <span>Accueil</span>
  </button>
  <button class="nav-item" [class.active]="activePage === 'rdv'" (click)="router.navigate(['/mes-rdv'])">
    <ion-icon name="calendar-outline"></ion-icon>
    <span>Mes RDV</span>
  </button>
  <button class="nav-item" [class.active]="activePage === 'profil'" (click)="router.navigate(['/profile'])">
    <ion-icon name="person-outline"></ion-icon>
    <span>Profil</span>
  </button>
</nav>